
@import "misvariables";
@import "misfunciones";



.body{
    height: 100vh;
    
}
thead{
    background-color: $azulDetalles;
    
}
@for $col from 1 to 10{
    tr:nth-child(#{$col}){
        background-color: color($col);
    }
}
tr:hover{
    background-color: $azulDetalles;
}
td > a{
    color:black;
    text-decoration: none;
}
td > a:hover{
    color:black;
}
.btn{
    background-color: $azulBoton; 
}
.btn:hover{
    background-color: $azulBotonHover;
}
.navbar{
    background-image: $azulBase;
}
.redes:hover{
    background-image: rgba(0, 0, 0, 0.2);
}
a{
    text-decoration: none;
}
.filtrosEst{
    justify-content: space-between;
}

.foot{
    background-image: $azulBase;
    
}
.card-header{
    background-color: $azulDetalles;
}
.card-footer{
    background-color: $azulDetalles;
}
