$azulImpar:rgba(206, 206, 206, 0.3);
$azulPar:rgba(238, 238, 239, 0.3);
$azulDetalles:white;//rgba(129, 129, 129, 0.3);
$azulBase:linear-gradient(135deg, rgb(19, 68, 141) 0%, rgb(0, 83, 206) 100%);
$azulBoton:rgb(0, 83, 206);
$azulBotonHover:rgb(16, 63, 133);